*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode{
    background-color: #121212;
    color: #f4f4f4
}

.conteiner{
    text-align: center;
}

.timer{
    font-size: 4rem;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.buttons button:hover{
    opacity: 2;
}

.start {background-color:  #4CAF50; color: white;}
.pause {background-color:  #FFC107; color: white;}
.reset {background-color:  #F44336; color: white;}
.dark-toggle {background-color:  #333; color: #fff;}

.social-links{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    border: 1px solid currentColor;
    padding: 5px 10px;
    border-radius: 6px;
    transition: all 0.3s;
}

.social-links a:hover{
    background-color: rgba(78, 129, 196, 0.514);
    color: black;
}